/* first parst css */

.influence{
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding-left: 150px;
}
.influencer-heading{
    font-family: ;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;    
    font-style: normal;
    font-family: 'Poppins', sans-serif;

}
a{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    width: 169px;
    height: 44px;
    border-radius: 41px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.first-part{
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}
